/* removing default styling */
*{
    padding: 0px;
    margin:0;
    box-sizing: border-box;
}

#allOptions{
    display:flex;
    justify-content:center;
    gap:50px;
}

.option{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}