/* removing default styling */
*{
    padding: 0px;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: rgb(0,38,6);
    background: linear-gradient(90deg, rgba(0,38,6,1) 0%, rgba(4,124,70,1) 35%, rgba(117,168,129,1) 100%);
}

/* layout for the upper options part */
#allOptions{
    display:flex;
    justify-content:center;
    gap:200px;
    margin-top:10vh;
}

.option{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


/* styling for the option buttons */
button{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #5b446a;
    background: #5b446a;
  }
button:hover {
    background: #fff;
    color: #5b446a;
}

/* classes used for fading in and out*/
.fadeIn{
    opacity: 1;
    pointer-events: all;
    transition:opacity 0.5s ease 0.5s;
}

.fadeOut{
    opacity: 0;
    transition:opacity 0.5s ease;
    pointer-events: none;
}


/* style for the startDiv*/
#startDiv{
    display:flex;
    justify-content: center;
    align-items: center;
}

.insideStart{
    display:flex;
    flex-direction: column;
    gap:5px;
}

/* input styling */ 
input {
    border: 2px solid #e8e8e8;
    padding: 15px;
    border-radius: 10px;
    background-color: #212121;
    font-size: small;
    font-weight: bold;
    text-align: center;
    color: #e8e8e8;
   }
   
input:focus {
    outline-color: white;
    background-color: #212121;
    color: #e8e8e8;
    box-shadow: 5px 5px #888888;
}

.bottomFade{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    color: #fff;
    margin-bottom:10vh;
}

h1{
    text-align:center;
}

h2{
    font-size:36px;
}

#winner{
    justify-content:center;
    flex-direction: column;
}

#player,#computer{
    font-size:26px;
}
