/* removing default styling */
*{
    padding: 0px;
    margin:0;
    box-sizing: border-box;
}

#allOptions{
    display:flex;
    justify-content:center;
    gap:50px;
}

.option{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


/* styling for the option buttons */
.option button{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #5b446a;
    background: #5b446a;
  }
.option button:hover {
    background: #fff;
    color: #5b446a;
}

body{
    background: rgb(0,38,6);
    background: linear-gradient(90deg, rgba(0,38,6,1) 0%, rgba(4,124,70,1) 35%, rgba(117,168,129,1) 100%);
}